.learn-card{
    height:400px;
    width:100%;
    background-color: lavender;
}



.learn-card-overlay{
    width:100%;
    position:absolute;
    height:400px;
    align-items: center;
    overflow:hidden;
    z-index: 10;
}

.learn-card-overlay img {
    width:100%;
    position:absolute;
    height:auto;
    top:-150px;
    transition: opacity 0.5s;
}

.learn-card-overlay img:hover {
    width:100%;
    position:absolute;
    height:auto;
    top:-150px;
    opacity: 0;
}

.learn-card-left {
    width:50%;
    position:absolute;
    height:400px;
    background-color: lavender;
    align-items: center;
    overflow:hidden;
}

.learn-card-left img{
    width:100%;
    position:absolute;
    height:auto;
}

.learn-card-left {
    width:50%;
    position:absolute;
    height:400px;
    background-color: lavender;
    align-items: center;
    overflow:hidden;
}


.learn-card-right {
    width:50%;
    position:relative;
    height:400px;
    left:50%;
    background-color:black;
    color:white;
    font-size:0.8em;
    text-align: center;
}

.learn-card-right p{
    margin:1em;
}