@import "footer.css";
@import "header.css";



*{
    margin:0;
    padding:0;
}

body{
    font-family: Verdana, sans-serif;
    font-size:1,5 em;
    background-color: white;
    letter-spacing: .1em;
}

main{
    margin:0em 4em 0em 4em
}

#main-banner {
    background-color: black;
    color:white;
}

.title {
    font-weight:100;
    text-align:center;
    padding:1.5em;
}

.banner {
    height: auto;
    background-color: black;
    color:white;
    text-align: center;
}

.banner-half  {
    width:40%;
    padding:2.5%;
    height: auto;
    display: inline-block;
    align-items: center;
   
}

.banner-half img {
    max-width: 100%;
    min-width:60%;
} 

.banner-text {
    text-align: left;
    max-width: 100%;
    min-width:60%;
}

.banner-title-subtitle {
    font-weight:100;
    padding-bottom:2em;
    font-size: 1.5em;
}


.text-left-justify {
    padding-bottom:2em;
    text-align: left;
}
.text-center-justify {
    text-align: center;
}

button {
    padding:15px;
    border-radius:50px;
    border-color:white;
    background-color:lavender;
    font-family: Verdana, san-serif;
    letter-spacing: .1em;
    font-weight: 900;
} 

#middle-section {
    padding:5%;
}