@import "footer.css";
@import "header.css";



*{
    margin:0;
    padding:0;
}

body{
    font-family: Verdana, sans-serif;
    font-size:1,5 em;
    background-color: lavender;
    letter-spacing: .1em;
}

main{
    margin:0em 3% 0em 3%;
    box-shadow: 0px 2px 9px grey;
    background-color: white;
    position:relative;
    top:130px;
}

.main-banner {
    background-color: black;
    color:white;
}

.title {
    font-weight:100;
    text-align:center;
    padding:1.5em;
}

.banner {
    height: auto;
    background-color: black;
    color:white;
    text-align: center;
}

.banner-half  {
    width:40%;
    padding:2.5%;
    height: auto;
    display: inline-block;
    align-items: center;
}

.banner-half img {
    max-width: 100%;
    min-width:60%;
} 

.banner-text {
    text-align: left;
    max-width: 100%;
    min-width:60%;
}

.banner-title-subtitle {
    font-weight:100;
    padding-bottom:2em;
    font-size: 1.5em;
}

.text-left-justify {
    padding-bottom:2em;
    text-align: left;
}
.text-center-justify {
    text-align: center;
   
}

button {
    padding:15px;
    border-radius:50px;
    border-color:white;
    background-color:lavender;
    font-family: Verdana, san-serif;
    letter-spacing: .1em;
    font-weight: 900;
} 

button:hover {
    background-color:pink;
} 

button:active {
    background-color:white;
} 

.middle-section {
    padding:5%;
}

table{
    border-collapse: collapse;
    padding-bottom: 2em;
    margin-top: 2em;
}

table td{
    padding:1em 1.5em;
    font-size:0.9em;
}

table td ul{
    padding-left: 1.5em;
}

.tr-gray {
    background-color:rgb(235, 233, 233);
}

.tr-lavender {
    background-color:lightgray;
}

#banner-mini-img  {
        width:25%;
        padding:2.5%;
        height: auto;
        display: inline-block;
        align-items: center;
    }
    
#banner-mini-img img{
        border-radius: 50px;
    }

#banner-mini-text  {
        width:50%;
        padding:2.5%;
        height: auto;
        display: inline-block;
        align-items: center;
    }

.round-card {
    width:15%;
    padding-left:1.5%;
    padding-top:2em;
    height: auto;
    display: inline-block;
    align-items: center;
}
.round-img {
        border-radius: 50%;
        height:150px;
        width:150px
    }

    
.banner-collapse{
   background-color:darkgray;
}
.banner-collapse-half {
    width:45%;
    height: 100%;
    display: inline-block;
    align-items: center;
}
